
@media only screen and (min-width: 400px){

    #navlist{
        margin-top: 2.5em;
        margin-right: 0;
    }
 
    main{
        margin-top: 2.5em;
        justify-content: center;
    }

    main .hero1{
        width: 90%;
        text-align: center;
        height: 25em;
        /* background-color: whitesmoke; */
        border: solid 1px #cfcfcf;
        border-radius: 8px;
    }

    main .hero2{
        height: 15em;
        /* background-color: aquamarine; */
        width: 90%;
        margin-top: 1em;
        /* display: none; */
    }

    .intro-con{
        margin: 1em 0;
    }
    .intro-con div{
        width: 90%;
        height: 15em;
        margin: 1em 0;
    }

    .intro-con .intro-child-a p{
        font-size: 80%;
        margin-top: 4%;
    }

    .second-section-items div{
    height: 23em;
    width: 90%;
    margin: 3px;
    margin-top: 5%;
    }

    /* .second-section-items div a h2{
        font-size: 90%;
        font-weight: bold;
        text-align: center;
    } */


    .second-section-items div a .front-end{
        background-size: 30%;
    }

    .second-section-items div a .back-end{
        background-size: 30%;
    }

    .second-section-items div a .vid-edit{
        background-size: 30%;
    }

    .second-section-items div a .photo-edit{
        background-size: 30%;
    }

    .second-section-items div a .ui-ux{
        background-size: 30%;
    }

    .second-section-items div a .motion-graphics{
        background-size: 25%;
    }

    .second-section-items div a #floating-txt{
        font-size: 90%;
    }

        
    .third-section-items div{
    height: 15em;
    width: 90%;
    margin: 3px;
    margin-bottom: 8%;
    }

    .fourth-section-items .test{
        width: 90%;
        margin-top: 5%;
    }
}

@media only screen and (min-width: 500px){
 
    .second-section-items div{
    height: 23em;
    width: 45%;
    margin: 3px;
    margin-top: 5%;
    }

    .second-section-items div a .front-end{
        background-size: 30%;
    }

    .second-section-items div a .back-end{
        background-size: 30%;
    }

     .third-section-items {
        gap: 3%;
     }   
    .third-section-items div{
    height: 15em;
    width: 45%;
    margin: 3px;
    margin-bottom: 8%;
    }

    .fourth-section-items .test{
        width: 90%;
        margin-top: 5%;
    }
}

@media only screen and (min-width: 700px){
 
    .second-section-items div{
    height: 20em;
    width: 45%;
    margin: 3px;
    margin-top: 5%;
    }

    .second-section-items div a .front-end{
        background-size: 30%;
    }

    .second-section-items div a .back-end{
        background-size: 30%;
    }

     .third-section-items {
        gap: 3%;
     }   
    .third-section-items div{
    height: 15em;
    width: 45%;
    margin: 3px;
    margin-bottom: 8%;
    }

    .fourth-section-items .test{
        width: 30%;
        margin-top: 5%;
        padding-bottom: 1em;
    }

    .footer-items .item2 p{
        display: flex;
        justify-content: space-around;
        width: 70%;
    }
}

@media only screen and (min-width: 800px){
   #navlist{
    margin-top: 0;
   }
   
    main{
    margin-top: 5em;
   }
    main .hero1{
        width: 47%;
        text-align: center;
        height: 23em;
        border: none;
    }
   
    main .hero2{
        width: 47%;
        text-align: center;
        height: 23em;
    }

    .hero1a{
        width: 100%;
        height: 100%;
    }

    .intro-con .intro-child-a{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .intro-con .intro-child-a p{
        font-size: 100%;
        margin: 5% 3%;
    }
    .second-section-items div{
    height: 20em;
    width: 45%;
    margin: 3px;
    margin-top: 5%;
    }

    .second-section-items div a .front-end{
        background-size: 20%;
    }

    .second-section-items div a .back-end{
        background-size: 30%;
    }

    .second-section-items div a .vid-edit{
        background-size: 30%;
    }

    .second-section-items div a .photo-edit{
        background-size: 30%;
    }

    .second-section-items div a .ui-ux{
        background-size: 30%;
    }

    .second-section-items div a .motion-graphics{
        background-size: 20%;
    }

    .third-section-items {
        gap: 3%;
     }   

    .third-section-items div{
    height: 15em;
    width: 45%;
    margin: 3px;
    margin-bottom: 8%;
    }

    .fourth-section-items .test{
        width: 30%;
        margin-top: 5%;
    }
}